<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EVENTHUBS_NAMESPACE" value="REPLACE"/>
    <add key="TOPIC" value="test"/>
    <add key="TENANT_ID" value="REPLACE"/>
    <add key="CLIENT_ID" value="REPLACE"/>
    <add key="CLIENT_SECRET" value="REPLACE"/>

  </appSettings>
</configuration>

